.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  .header-toolbar{
    display: flex;
    justify-content: space-between;
    // border: solid red;
    width: 100%;
    align-items: center;
    .mat-list-base .mat-list-item{
      color: white;
    }
  }
}

.mat-list-option {
  font-size: 0.8rem;
  padding: 10px;
}
.active{
  background-color: var(--primary-color);
  color: white;
}
.content{
  display: flex;
  justify-content: center;
  .css-shadow {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #cddc39;
  }
  .mat-icon{
    font-size: 18px;
  }
}
.barra{
  background-color: var(--primary-color);;
  height: 64px;
  display: flex;
  img{
    max-width: 50%;
    margin: auto;
  }
}

