<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="barra">
        <img src="../../../assets/img/logo_coink.png" alt="">
      </div>
      <br>
      <div class="content">
        <img class="css-shadow" src="https://i.pravatar.cc/75" />
      </div>
      <div class="content">
          <mat-icon color="primary" md-18>lock</mat-icon> {{ user?.name ?? 'Usuario Coink' }} 
      </div>
      <mat-divider></mat-divider>

    <mat-selection-list [multiple]="false">
      <br>
      <mat-list-option routerLink="/admin/dashboard" routerLinkActive="active" >
        <!-- <mat-icon mat-list-icon>dashboard</mat-icon> -->
        Tarjestas Visa en dispensadores
      </mat-list-option>
      <mat-list-option mat-list-item>
        Crear dispensador
      </mat-list-option>
      <mat-list-option mat-list-item>
        Monitorear y editar dispensadores
      </mat-list-option>
      <mat-list-option mat-list-item>
        Solicitud Tarjetas
      </mat-list-option>
      <!-- <a mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        Logout
      </a> -->
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- *ngIf="isHandset$ | async" -->
      <div class="header-toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>BACKOFFICE</span>
        <mat-list>
          <mat-list-item>
             <mat-icon color="white" mat-list-icon>account_circle</mat-icon>
          </mat-list-item>
       </mat-list>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
